# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Directorios de salida de TypeScript
dist/
build/

# Archivos de configuración de entorno
.env

# Directorios de caché
.cache/
.tmp/

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de cobertura de pruebas
coverage/

# Archivos de configuración de ESLint
.eslintcache

# Postgres Data
postgres-data/